@keyframes fadeout {
  to {
    background-color: transparent;
  }
}

.CustomWindow {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  --button-fade: rgba(127, 127, 127, 0.2);
  
  * {
    box-sizing: border-box;
    border: 0;
    user-select: none;
    font-size: 14px;
  }

  .topbar {
    display: flex;
  }

  .topbar > div {
    display: flex;
  }

  .appinfo {
    width: 100%;
  }

  /* Control Buttons */

  button {
    cursor: pointer;
    transition: 500ms ease-in-out;
    background-color: transparent;
  }

  button:hover {
    background-color: var(--button-fade);
  }

  button[title="Close"]:hover {
    --button-fade: rgb(232, 17, 35);
    color: white;
  }
}