* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#topbar {
  display: flex;
  border-bottom: 1px solid black;
}

#topbar > div {
  display: flex;
}

#tabs {
  width: 100%;
}

.tab {
  border-right: 1px solid black;
  flex-grow: 1;
  max-width: 200px;
}

/* Styles for Searchbar */

#searchbar {
  display: flex;
}

#searchbox {
  flex-grow: 1;
  border-radius: 20%;
}