:root {
  --focus-color: 
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Styles for topbar */

#topbar {
  display: flex;
  background-color: rgb(233, 233, 233);
}

#topbar > div {
  display: flex;
}

#tabs {
  width: 100%;
}

#selected {
  background-color: white;
}

.tab {
  border-right: 1px solid gray;
  flex-grow: 1;
  max-width: 200px;
}

/* Styles for Searchbar */

#searchbar {
  display: flex;
  padding: 5px;
}

#searchbox {
  flex-grow: 1;
  border-radius: 20%;
  background-color: rgb(225, 225, 226);
}

/* Styles for Bookmarks */

#bookmarks {
  border-bottom: 1px solid gray;
  padding: 5px;
  padding-top: 0;
}