* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#topbar {
  display: flex;
}

#topbar > div {
  display: flex;
}

#tabs {
  width: 100%;
}

.tab {
  border-right: 1px solid black;
}